body{
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

h1{
    margin-top: 10%;
    color: #0d5c1a;
}

h3{
    margin-top: 8%;
    color: #0d5c1a;
}

.regras{
    text-align: right;
}

p{
    font-family: 'Inconsolata', monospace;
}

#saudacao{
    margin-top: 15%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

.colunas{
    display: flex;
}

.jogo{
    width: 30%;
    
}

label{
    font-weight: bold;
}

select{
    margin-top: 10%;
    width: 100%;
    height: 20px;
    border: #0d5c1a solid 1px;
}

@media (max-width: 600px) {
    .regras{
        display: none;
    }

    .colunas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        width: 100%;
        text-align: center;
    }


    #saudacao {
        margin-top: 5%;
    }
    
}

@media (max-width: 420px) {
    .regras{
        display: none;
    }

    .colunas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        width: 100%;
        text-align: center;
    }


    #saudacao {
        margin-top: 5%;
    }

    input{
        width: 20%;
        font-size: 12px;
    }

    label{
        font-size: 12px;
    }

    button{
        font-size: 9px;
    }
    
}